body div .top-protect{
    display: flex;
    gap: 20px;
    padding: 1.6rem 0px 1.9rem;
}
.top-protect{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
.sub-protect{
    padding: 0.9rem 8rem;
    font-size: 15px;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background-color: antiquewhite;
    
}
.center-content-pic{
    position: relative;
    display: flex;
    width: 50%;
}
.center-content{
    display: inline-flex;
    max-width: 1000px;
    justify-content: center;
    padding: 2.4rem 3.6rem;
    margin: 0 470px;
    border-top: 1px solid #ccc;
}
.text-wrap{
    display: flex;
    
}
.heart{
    width: 24px;
    height: 24px;
}
.text-bubble{
    width: 72%;
    text-align: center;
    padding: 1rem 1rem 0.9rem;
    margin: 0.8rem 0px 1rem;
    background-color: rgb(193, 222, 233);
    border-radius: 20px;
    box-shadow: -2px 3px 5px #ccc;
}
h1{
    border-bottom: 1px solid #ccc;

}
.dog-detail{
    display: flex;
    border-bottom: 1px solid #ccc;
}
.shelter{
    border-bottom: 1px solid #ccc;
    
}
.content{
    max-width: 1000px;
    margin: 2.5rem auto;
    justify-content: center;
    align-items: center;

}
.picture2{
    display: flex;
    justify-content: center;
}
.con-list{
    display: flex;
    gap: 10px;
    padding: 0.9rem 1rem;
    background-color: yellow;
}
.con-list div{
    width: 100%;
    margin-left: 20px;
}
h3{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
.tag{
    width: 10%;
    height: 9%;
    font-size: 11px;
    text-align: center;
    padding: 0.25rem 0;
    background-color: burlywood;
    border-radius: 30px;
    margin-left: 10px;
}
article{
    display: flex;
    margin-bottom: 10px;
    border: 1px solid rgb(201, 201, 201);
    padding: 20px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    
}
.link:hover{
    color: rgb(226, 201, 117);
}
.con1 a{
    text-decoration: none;
    color: black;
}
.con1{
    display: flex;
    flex-wrap: wrap;
    width: 992px;
    padding: 20px 0;
    margin-left: 20px;
}
.con1-subtext:not(:first-child){
    width: 700px;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    justify-content: center;
}
.picture1{
    /* float: right; */
    border-radius: 13px;
    margin-left: 20px;
}
article div{
    width: 726px;
}
.link a:hover{
    color: rgb(238, 182, 99);
}
.link{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    float: left;
}
.con1 .picture1{
    width: 100%;
}