body{
    width: 970px;
}
.top-adopt-menu{
    display: block;
    width: 847px;
    height: auto;
    padding: 33px;
    background-color: beige;
    box-sizing: border-box;
}
h3{
    text-align: center;
}
header{
    text-align: center;
    overflow: hidden;
}

.dog{
    margin: 10px;
    padding: 0;
    /* width: 605px;
    height: 35px; */
    float: left;
}
.dog-pic{
    border-radius: 20%;
    
}
section{
    height: 974px;
}
.picture{
    border-radius: 20px;

}
footer div a{
    float: left;
    padding: 10px;
    
}
footer > div .icon{
    float: left;
    padding: 10px;
    border-radius: 50%;
}
footer{
    width: 678px;
    padding: 20px 25px;
    clear:both;
    /* margin-top: 100px; */
}
header a:hover{
    border-style: outset;
}